{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
<h1 class="text-center pt-2 text-white">Liste des contacts</h1>

<div class="row">
    {% for contact in contact %} 
    {# {{dump(contacts)}} #}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">  
      {{ include('contact/_card.html.twig', {'bgColor0': 'darkGreen'  , 'bgColor1': 'lightGreen'}) }}
    </div> 
    {% endfor %}
</div>

{% endblock %}







{# <div class="li">
{{contact.name}} {{contact.prenom}}
</div> cette div permet d'afficher les noms prenoms sous forme de liste#} 

{# TENTATIVE DE CARD BY ME #}
{# <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        <div class="card mb-3" style="width: 18rem;">
            <img src="{{contact.avatar}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{contact.name}} {{contact.prenom}}</h5>
                <p class="card-text">{{contact.rue}}</p>
                <p class="card-text">{{contact.cp }} {{contact.ville}}</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> 
    </div>       
</div> #}